.container {
    box-sizing: border-box;
    width: 300px;
    height: 350px;
    /* background: linear-gradient(to bottom right, red, yellow); */
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 2s ease-in-out; */
    /* transition-delay: -1s; */
    /* transition: all 5s ease; */
}

.cardfront,
.cardBack {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, red, yellow);

    position: relative;
    /* transition: all 5s ease; */
}

.image {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    object-fit: fill;
}

.image2 {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    object-fit: fill;
}
.cardBack {
    display: none;
    border: 2px solid green;
  transition: all 5s ease;
    /* transition-duration: 2s; */ 
}

.container:hover .cardfront  {
    display: none;
    /* display: flex; */
 /* animation: profileCard; 
    animation-duration: 2s;  */
    /* transform: rotateY(360deg); */
}



.container:hover .cardBack{
    display: flex;
    /* animation: profileCard1;
    animation-duration: 2s; */
    /* transform: rotateY(360deg); */
}
.cardBack:hover{
    transform: rotateY(360deg);
}


@keyframes profileCard {
    from{
        /* display: none; */
        /* visibility: hidden; */
        /* transition-duration: 2s; */
        transform: translate(0px,0px);
    }
    to{
        /* display: flex; */
        transform: translate(-50px,-50px);
    }
}
@keyframes profileCard1 {
    from{
        /* display: none; */
        /* visibility: hidden; */
        /* transition-duration: 2s; */
        transform: translate(0px,0px);
    }
    to{
        /* display: flex; */
        transform: translate(50px,50px);
    }
}