* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.homePageContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto ;
    padding: 30px;
    border: 2px solid red;
    background: url(./AssignmentBackground.png)  ;
}

/* home page grid  */
#webPageTitleLeftContent{grid-area: 1/1/1/5;}
#webPageTitleRightContent{grid-area: 1/5/1/13;}
#navBar{grid-area: 2/1/2/13;}
#sideText{grid-area: 3/1/4/8;}
#homePageBurgerImage { grid-area: 3/8/4/13;}

@media screen and (max-width:500px) {
   .homePageContainer{
        display: flex;
        flex-direction: column;
    } 
    #webPageTitleLeftContent{
        text-align: center;
    }
    #webPageTitleRightContent {
        display: flex;
        justify-content: center ;
        height: 50px;
        align-items: center;
        padding-left: 15px;
    }
    #webPageTitleRightContent #bikeIcon{
        margin-right: 10px;
    }

    #navBar-content{
       text-align: center;
       margin: 0px;
    }
    #navBar-content a {
        display:inline-block;
        width: 40%;
        margin: 10px 10px;
        padding: 10px ;
    }

    /* content page */
    .contentPage{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #contentPageleft{
        width: 100%;
    }

    /* .contentPage3 */
    .contentPage3{
        flex-direction: column;
    }
    .burgerCard{
        padding: 20px; 
    }

    /* contentCard */
    .contentCard{
        flex-direction: column;
        justify-content: center;
    }
    /* .contentPage4 */
    .contentPage4Image1, .contentPage4Image2, .contentPage4Image3{
        visibility: hidden;
    }

    .contentPage4Form{
        width: 100%;
    }
    .contentPage4FormInputRadio, .contentPage4FormInput{
        flex-direction: column;
        width: 100%;
    }
    .formButtonEdit{
        display: flex;
        flex-direction: column;
    }

    /* contentpage5 */

    .contentPage5BottomContent, .contentPage5ParagraphAndEmail{
        flex-direction: column;
        
    }
    .contentPage5BottomRightIcon{
        justify-content: center;
    } 
    .contentPage5EmailTag{
        margin:0px;
    }

}
@media screen and (max-width:900px) {
    .formButtonEdit{
        display: flex;
        flex-direction: column;
        width: 48%;
    }
    .contentPage4FormInputRadio{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

#webPageTitleLeftContent {
    font-size: x-large;
    min-width: 200px;
    padding-left: 10px;
}
#webPageTitleLeftContent i{
    font-size: xx-large;
}

#webPageTitleRightContent {
    text-align: right;
    font-size: small;
}
#webPageTitleRightContent i{
    font-size: medium;
}

#navBar {
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: end;
    padding: 5px 0px 20px 0px;
}

#navBar-content a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

#navBar-content a:hover {
    background-color: rgb(160, 152, 152);   
}

#sideText{
    display: inline-block; 
    min-width: 70%;
    
} 
#sideText span{
    position: relative;
    font-size:clamp(7px, 1vw , 20px);
    padding: 5px;
    border: 1.5px dashed rgb(90, 25, 25);   
    top:clamp(0px, 8vw , 90px);
}
#sideText h1{
    font-size:clamp(45px, 10vw , 120px);
    text-shadow: 2px 2px  white;

}
#sideText h2{
    font-size:clamp(22px, 3.5vw , 120px);
    position: relative;
    top:clamp(-120px, -8.5vw, -40px);
    text-shadow: 1.5px 1.5px  white;
}

#homePageBurgerImage img{
    width: 100%;
    min-width: 75%;
    min-height: 250px;
    height: auto;
}

/* contentpage */

.contentPage{
    display: flex;
    padding: 50px;
    border: 2px solid black;
    justify-content: space-between;
}
#contentPageleft{
    height:clamp(155px, 30vw, 400px);
    margin-right: 2vw;
   
}
 .image1{
    height: clamp(100px, 30vw, 400px);
    width: 100%;
    border-radius: 10px;
}
.contentPageTopText{
    position: relative;
    top: clamp(-400px,-30vw, -50px );
    
    color: whitesmoke;
}
.text1{
    font-size: 1.5vw;
    margin-left: 1vw;
}
.text2{
    font-size: 2vw;
    line-height: 10px;
    margin-left: 1vw;
}


#contentPageRight{
    display: flex;
    flex-direction: column;
    height:clamp(65px, 30vw, 400px);
}
.image2{
    height: clamp(60px, 13vw, 180px);
    width: 100%;
    border-radius: 10px;
}
.contentPageRightContent{
    margin: 1vw;
     height: clamp(75px, 13vw, 180px);;
}
.contentPageTopRightText{
    display: inline-block;
    color: whitesmoke;
    position: relative;
    top:clamp(-205px, -14.5vw, -60px);
    
}
/* contentPgae2 */
.contentPgae2{
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 2px solid blue;
}

.contentPgae2 button{
    border: none;
    width: auto;
    padding: 10px 20px;
    background-color: rgb(230, 156, 19) ;
}
.contentPgae2 button:hover{
    background-color: rgb(175, 117, 9);
    color: whitesmoke;
}

/* contentPage3 */
.contentPage3{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    height: auto;
}

.burgerCard{
    text-align: center;
    padding: 5vw;
    min-width: 150px;  
}
.image3{
    width: 100%;
}
.orderBtn{
    border: none;
    background-color: red;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 20px;
}
.orderBtn:hover{
    background-color: rgb(223, 16, 16);
}

/* contentcard */
.contentCard{
    display: flex;
    margin: 50px;
    padding: 10px;
    box-shadow: 8px 8px 6px rgb(221, 215, 215);
}
.contentCardText{
    width: 50vw;
    display: inline-block;
    margin: 20px;
}

.contentCardImage{
    margin: 20px;
    width: 50vw;
}
.contentCardImage img{
    width: 100%;
    min-width: 150px;
    min-height: 100%;
}

/* contentPage4 */
.contentPage4{
    display: grid;
    grid-template-columns: 8.333% 8.333% 8.333%  8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
    border: 2px solid green;
}
.contentPage4Image1{
    grid-area: 1/1/2/3;
    position: relative;
    left: -7vw;
}
.contentPage4Image1 img{
    width: 100%;
    min-width: 100px;
    min-height: 100px;
}
.contentPage4Image2{
    grid-area: 2/2/3/3;
}
.contentPage4Image2 img{
    width: 100%;
    min-width: 70px;
    height: 15vw;
    min-height: 200px;
}
.contentPage4Text{
    grid-area: 1/1/2/ 12;
    text-align: center;
}
.contentPage4Form{
    grid-area: 2/3/3/10;
    text-align: center;
}
.contentPage4FormInput{
    float: left;
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.contentPage4FormInput input, select, label{
    width: 100%;
    border: 1px solid black;
    padding: 13px;
    margin: 10px;
    border-radius: 5px ;
}
.contentPage4FormInput input:hover, select:hover, .formButtonEdit label:hover{
    background-color: rgb(225, 216, 216);
}

.contentPage4FormInputRadio{
    display: inline-block;
    justify-content: center;
    padding: 13px;
    margin: 10px;
    width: 97%;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 5px;
    
}
.formRadioCheckbtn label{
    border: none;
}
.radioBtnLabel{
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
}
.formButtonEdit{
    float: left;
    display: flex;
    width: 48%;
    align-items: center;
}
.tableBtn{
    width: 100%;
    padding: 13px;
    margin: 10px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
}
.tableBtn:hover{
    background-color:  rgb(223, 16, 16);
}
.contentPage4Image3{
    grid-area:2 /10/5/13;
    display: flex;
    align-items: flex-end;
}
.contentPage4Image3 img{
    width: 100%;
    height: 25vw;
    min-height: 200px;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    box-shadow: 10px 10px 10px  black;
}

.bookTable{
    width: 95%;
    padding: 13px;
    margin: 10px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
}


/* conentpage5 */
.contentPage5{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpxYYe8S4SUcYx__pNL-95ofantSxFc8RXbQ&usqp=CAU") no-repeat center;
    background-size: cover;
    color: white;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contentPage5Icon{
    font-size: 40px;
    margin: 60px 0px 10px;
}
#burgerIcon2{
    margin-right: 0.1vw;
    font-size:clamp( 8px, 10vw, 50px);
}
.contentPage5Icon span{
    font-size:clamp( 5px, 7vw, 35px);
}
.contentPage5ParagraphAndEmail{
    display: flex;
    justify-content: space-between;
    margin: 00px 0px 80px;
}
#paragraph{
    width: 45%;
    min-width: 250px;
    white-space: normal;

}
.contentPage5EmailTag{
    position: relative;
}
.contentPage5EmailTag a{
    text-decoration: none;
}
.contentPage5EmailTag i{
    color: white;
}

.contentPage5BottomContent{
    display: flex;
    justify-content: space-between;
}
.contentPage5BottomRightIcon{
    display: flex;
    text-align: right;   
}
.contentPage5BottomRightIcon a{
    text-decoration: none;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 9px 9px 8px 9px;
    margin: clamp(2px, 0.8vw, 10px);
    font-size: clamp(15px, 1vw, 20px);  
}
.contentPage5BottomRightIcon a:hover{
    background-color: rgb(225, 216, 216);
}
